.section{
    margin: 0px auto 10px auto;
    max-width: 1240px;
    box-sizing: border-box;
    background-color: #e2dddd;
    
}

/* responsividade */

@media (max-width:1240px) {
    .section{
        
        box-sizing: border-box;
        margin: 10px 4px;
       
        
    }
}